@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Asap, sans-serif;
    color:white;
}

body{
    background-color: #333333;
}

#BoxForCanvas{
    text-align: center;
}

#Controls{
    width: 500px;
    margin: 0 auto;
}

#tags{
    height: 20px;
    display: flex;

}

.tag{
    width: 129px;
    margin-right: 20px;
}

#sliders{
    display: flex;

}

.slider{
    margin-right: 20px;
}